@import 'tailwindcss';

@theme {
  --color-logoGold: #D69E00;
  --color-logoGoldDark: #B8860B;
  --color-ecoGreen: #4CAF50;
  --color-ecoGreenDark: #388E3C;
  --color-urbanGray: #555C68;
  --color-urbanGrayLight: #F5F5F5;
  --color-textBlack: #333333;
  --color-white: #FFFFFF;
  --color-myblack1: #1A1A1A;
  --color-myblack2: #222222;
  --color-myblack3: #262626;
  --color-myblack4: #2A2A2A;
  
}

